.calendarContainer{
  width: 812px;
  height: 406px;
  border: 6px solid #a0ada0;
  margin: auto;
  text-transform: uppercase; 
  display: flex;
  justify-content: center;
}

.calendarSheet{
  width: 400px;
  height: 400px;
  border: 3px solid blue;
  text-align: center;
  /* background-color: rgb(148, 201, 157); */
}

.calendarDay{
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  /* border: 3px solid green;   */
}

.calendarTable{
  width: 280px;
  display: flex;
  flex-wrap: wrap;
//  border: 3px solid green;
  margin: auto;
  font-size: 25px;
}

.calendarTableCell{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid red;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}
