.calendarContainer{
  width: 420px;
  height: 220px;
  border: 6px solid #a0ada0;
  margin: auto;
}

.calendarSheet{
  display: inline-block;
  width: 200px;
  height: 200px;
  //justify-items: center;
  border: 3px solid blue;
  text-align: center;
}